{# =============================================================================
# Audit Event Identifier: DSU-TPL-900005
# Template Type: monitoring Configuration
# Last Updated: 2026-02-28
# Version: 1.0
# ============================================================================= #}
GF_SECURITY_ADMIN_USER={{ monitoring_grafana_admin_user }}
GF_SECURITY_ADMIN_PASSWORD={{ monitoring_grafana_admin_password }}
