[Unit]
Description=Grafana Container
After=network-online.target

[Container]
ContainerName=grafana-{{ monitoring_instance }}
Image={{ monitoring_grafana_image }}
Pod={{ monitoring_pod_name }}
# If running rootless, map the full subuid range so UIDs like 65534 (nobody) and image UIDs are valid
{% if podman_rootless_enabled | bool %}
UserNS=auto
{% endif %}
EnvironmentFile={{ containers_secrets_dir }}/grafana-{{ monitoring_instance }}.env
Volume={{ monitoring_root_dir }}/grafana:/var/lib/grafana:Z
Volume={{ monitoring_config_dir }}/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources:ro
Volume={{ monitoring_config_dir }}/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards:ro

[Install]
WantedBy=multi-user.target
