{# =============================================================================
# Audit Event Identifier: DSU-TPL-900008
# Template Type: monitoring Configuration
# Last Updated: 2026-02-28
# Version: 1.0
# ============================================================================= #}
[Unit]
Description=Monitoring Pod
After=network-online.target

[Pod]
UserNS=host
PodName={{ monitoring_pod_name }}
{% if podman_rootless_enabled | bool %}
Network={{ monitoring_network }}
{% if monitoring_network != "host" %}
# Publish ports to host
PublishPort=9090:9090
PublishPort=3000:3000
{% endif %}
{% else %}
Network=host
# Publish ports to host
# Ports implicit in host mode
# PublishPort=9090:9090
# PublishPort=3000:3000
{% endif %}

[Install]
WantedBy=multi-user.target
