{# =============================================================================
# Audit Event Identifier: DSU-TPL-900002
# Template Type: caddy Configuration
# Last Updated: 2026-02-28
# Version: 1.0
# ============================================================================= #}
PORKBUN_API_KEY={{ porkbun_api_key }}
PORKBUN_SECRET_API_KEY={{ porkbun_secret_api_key }}
