# Endlessh configuration
# Managed by Deploy-System-Unified

Port {{ endlessh_port }}
Delay {{ endlessh_delay }}
MaxLineLength {{ endlessh_max_lines }}
MaxClients {{ endlessh_max_clients }}
LogLevel {{ endlessh_log_level }}
