# =============================================================================
# Audit Event Identifier: DSU-TPL-900705
# Template Type: Kube-VIP Static Pod
# Last Updated: 2026-03-01
# =============================================================================
apiVersion: v1
kind: Pod
metadata:
  name: kube-vip
  namespace: kube-system
spec:
  containers:
  - args:
    - manager
    env:
    - name: vip_arp
      value: "true"
    - name: port
      value: "{{ kubernetes_api_port | default(6443) }}"
    - name: vip_interface
      value: "{{ kubernetes_vip_interface | default('eth0') }}"
    - name: vip_address
      value: "{{ kubernetes_vip_address }}"
    - name: vip_leaderelection
      value: "true"
    - name: vip_lease_duration
      value: "5"
    - name: vip_renew_deadline
      value: "3"
    - name: vip_retry_period
      value: "1"
    image: ghcr.io/kube-vip/kube-vip:v0.7.1
    imagePullPolicy: IfNotPresent
    name: kube-vip
    resources: {}
    securityContext:
      capabilities:
        add:
        - NET_ADMIN
        - NET_RAW
  hostNetwork: true
  restartPolicy: Always
