# =============================================================================
# Audit Event Identifier: DSU-TPL-900346
# Template Type: Kubernetes NetworkPolicy
# Description: Default deny-all ingress and egress for a namespace
# Rendered To: kubernetes API
# Last Updated: 2026-03-01
# =============================================================================
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: default-deny-all
  namespace: {{ item }}
spec:
  podSelector: {}
  policyTypes:
  - Ingress
  - Egress
