{# =============================================================================
# Audit Event Identifier: DSU-TPL-900037
# Template Type: backup Configuration
# Last Updated: 2026-02-28
# Version: 1.0
# ============================================================================= #}
[Unit]
Description=Restic Backup Service
After=network.target local-fs.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart={{ restic_script_dir }}/restic_wrapper.sh
# Low priority for CPU and I/O
Nice=19
IOSchedulingClass=idle
Environment="RESTIC_CACHE_DIR=/var/cache/restic"

[Install]
WantedBy=multi-user.target
