{# =============================================================================
# Audit Event Identifier: DSU-TPL-900038
# Template Type: backup Configuration
# Last Updated: 2026-02-28
# Version: 1.0
# ============================================================================= #}
[Unit]
Description=Daily Restic Backup Timer

[Timer]
OnCalendar={{ restic_schedule_on_calendar }}
Persistent=true
RandomizedDelaySec=600

[Install]
WantedBy=timers.target
